mapof>=0.1.5
prefsampling~=0.1.24
tqdm~=4.66.5
abcvoting~=2.11.0
matplotlib~=3.9.4
numpy>=2.0.0
pillow~=11.0.0
scipy~=1.14.1
networkx~=3.5.0
scikit-learn~=1.5.2
tikzplotlib~=0.10.1
gurobipy~=13.0.0
pulp~=2.9.0
permanentbis~=0.1
